<div class="{{classPrefix}}">
    <a href="javascript:;" data-role="close" title="关闭" class="{{classPrefix}}-close">×</a>
    <div class="{{classPrefix}}-header" data-role="header">
        <div class="{{classPrefix}}-title" data-role="title"></div>
    </div>
    <div class="{{classPrefix}}-main" data-role="main">
        <div class="{{classPrefix}}-content" data-role="content"></div>
    </div>
    <div class="{{classPrefix}}-footer" data-role="footer">
        <div class="{{classPrefix}}-buttons" data-role="buttons"></div>
    </div>
</div>
